@model List<BasketVM>
@foreach (BasketVM basketVM in Model)
										   {
											   <!-- Product Row -->
											<tr>
												<td class="pro-remove"><a class="deleteproduct" asp-controller="Basket" asp-action="Delete" asp-route-id="@basketVM.Id"><i class="far fa-trash-alt"></i></a>
												</td>
												<td class="pro-thumbnail"><a href="#"><img
															src="image/products/@basketVM.MainImage" alt="Product"></a></td>
												<td class="pro-title"><a href="#">Rinosin Glasses</a></td>
												<td class="pro-price"><span>$@basketVM.Price.ToString("F2")</span></td>
												<td class="pro-quantity">
													<div class="pro-qty">
														<div class="count-input-block">
															<input type="number" data-productId="@basketVM.Id" class="form-control text-center productcount"
																value="@basketVM.Count">
														</div>
													</div>
												</td>
												<td class="pro-subtotal"><span>$@((basketVM.Count * basketVM.Price).ToString("F2"))</span></td>
											</tr>
										   }
										   <tr>
												<td colspan="6" class="actions">
													<div class="coupon-block">
														<div class="coupon-text">
															<label for="coupon_code">Coupon:</label>
															<input type="text" name="coupon_code" class="input-text"
																id="coupon_code" value="" placeholder="Coupon code">
														</div>
														<div class="coupon-btn">
															<input type="submit" class="btn btn-outlined"
																name="apply_coupon" value="Apply coupon">
														</div>
													</div>
													<div class="update-block text-right">
														<input type="submit" class="btn btn-outlined" name="update_cart"
															value="Update cart">
														<input type="hidden" id="_wpnonce" name="_wpnonce"
															value="05741b501f"><input type="hidden"
															name="_wp_http_referer" value="/petmark/cart/">
													</div>
												</td>
											</tr>